* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --secondary-color: #000000;
  }

  .weather-icon{
    height: 90px 
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
  }
  
  .container {
    max-width: 800px;
    background: #d7f0ec;
    width: 800px;
    padding: 25px 40px 20px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    color:black;
    animation: expand .8s ease forwards;
    position: relative;
    
    transition: all .8s ease;
  }
  
  .container_content {
   width: 300px;
  }
  
  .container_content_inner {
    margin-left: 20px;
  }
  
  .container_outer_img {
    margin: 20px;
    width: 350px;
    overflow: hidden;
  }
  
  .container_img {
    width: 320px;
    height: 320px;
    animation: slideIn 1.5s ease-in-out forwards;
  }
  
  .par {
    height: auto;
    overflow: hidden;
  }
  
  p{
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
  }

  h1 {
      font-size: 40px;

      margin-bottom: 20px;
      transform: translateY(100px);
      animation: slideUp .8s ease forwards .5s;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  